body { background-color:black;color:white;}
img { position:relative;width:100%;height:100%;}
a { position:relative;width:100%;height:100%;}
.btn { position:relative;width:6%;height:10vh;padding:1.1%;}
.spc { position:relative;width:6%;height:10vh;padding:1.1%;}

#page {position:absolute;top:0;left:0;width:100%;background-color:black;color:white;}

#pagediv0{position:relative;width:100%;display:flex;flex-flow:row wrap;align-content:center;justify-content:center space-around;}
#pagediv1{position:relative;width:100%;display:flex;flex-flow:row wrap;align-content:center;justify-content:center space-around;}
#pagediv2{position:relative;width:100%;display:flex;flex-flow:row wrap;align-content:center;justify-content:center space-around;}
#pagediv3{position:relative;width:100%;display:flex;flex-flow:row wrap;align-content:center;justify-content:center space-around;}
#pagediv4{position:relative;width:100%;display:flex;flex-flow:row wrap;align-content:center;justify-content:center space-around;}
#pagediv5{position:relative;width:100%;display:flex;flex-flow:row wrap;align-content:center;justify-content:center space-around;}
